@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components; 
@tailwing utilities; 

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-green: #0f766e;
  --color-brand-bg: #f5f6f7;
  --color-brand-dark: #064e3b;
}

body {
  background-color: var(--color-brand-bg);
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
